<app-menu></app-menu>
<div class="container bg-3 text-center">
    <h3 class="mt-3 text-uppercase">Tipos de servicios que ofrecemos</h3><br>
    <div class="row mt-1">
        <table class="table  table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-uppercase">ID</th>
                    <th scope="col" class="text-uppercase">Servicios</th>
                    <th scope="col" class="text-uppercase">Mujeres</th>
                    <th scope="col" class="text-uppercase">Hombres</th>
                    <th scope="col" class="text-uppercase">Niños</th>
                    <th scope="col" class="text-uppercase">Tercera edad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servicio of servicios">
                    <th scope="row">{{servicio.id}}</th>
                    <td class="text-uppercase">{{servicio.tipoServicio}}</td>
                    <td>{{servicio.precioMujer}}</td>
                    <td>{{servicio.precioHombre}} €</td>
                    <td>{{servicio.precioNinio}}</td>
                    <td>{{servicio.precioAdulto}} €</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="mt-2 mb-2">A continuación indicamos información para nuestros clientes cuando lleguen a nuestro establecimiento puedes elegir entre un corte traidicional con tijera o con máquina.
    </p>
    <div class="row mt-4">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-uppercase">Corte con tijera</h5>
                </div>
                <div class="card-body">
                    <div class="imgTijera"></div>
                    <p class="card-text mt-3 text-justify">
                        Ofrecemos está elección, por que conocemos que hay clientes que prefieren un corte a lo tradicional.
                    </p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-uppercase">Corte con máquina</h5>
                </div>
                <div class="card-body">
                    <div class="imgMaquina"></div>
                    <p class="card-text mt-3 text-justify">
                        Está segunda elección es la que más se realiza hoy en día, ya que los nuevos estilos se realizan solo con máquina.
                    </p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<app-scroll-to-top></app-scroll-to-top>