<app-menu></app-menu>
<table class="table table-hover table-light">
    <thead class=" table table-success">
        <tr>
            <th scope="col">ID <i class="fas fa-sort"></i></th>
            <th scope="col">ID Cloudinary<i class="fas fa-sort"></i></th>
            <th scope="col">Nombre de la imagen<i class="fas fa-sort"></i></th>
            <th scope="col">Imagen URL<i class="fas fa-sort"></i></th>
            <!--<th scope="col"><i class="fas fa-sort" (click)="sort()"></i></th> Mayo a menor-->
            <th *ngIf="isAdmin" scope="col">Ver</th>
            <th scope="col" *ngIf="isAdmin">Editar</th>
            <th scope="col" *ngIf="isAdmin">Borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let home of homes |  paginate: { itemsPerPage: 10, currentPage: paginaActual }">
            <td>{{home.id}}</td>
            <td>{{home.imagenId}}</td>
            <td>{{home.name}}</td>
            <td>{{home.imagenUrl}}</td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-primary"><i class="far fa-eye"></i> </button></td>
            <td><button class="btn btn-outline-warning" *ngIf="isAdmin" routerLink="/editar-home/{{home.id}}"><i class="far fa-edit"></i> </button></td>
            <td><button class="btn btn-outline-danger" *ngIf="isAdmin" (click)="borrar(home.id)"><i class="far fa-trash-alt"></i> </button></td>
        </tr>
    </tbody>
</table>
<div class="justify-content-center justify-content-md-start">
    <div class="col">
        <div class="paginacion p-2 text-center">
            <pagination-controls class="my-pagination" (pageChange)="paginaActual = $event" previousLabel="Atrás" nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>
</div>