.input-group-prepend span {
    width: 50px;
    background-color: #343a40;
    color: white;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.inputLogin-full-width {
    width: 100%;
}


/** Imagen login**/

.imgLogin {
    background-image: url(/assets/login2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 125px;
    width: 100%;
    background-size: 30%;
    position: relative;
}

.btn-outline-secondary {
    width: 150px;
    height: 50px;
    font-size: 20px;
}

input[type=key] {
    font-family: 'password';
    width: 100px;
    height: 16px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}