<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <!--Column1 - Información-->
                    <div class="footer-pad">
                        <h4>Información</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Website Tutorial</a></li>
                            <li><a href="#">Accessibility</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Webmaster</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <!--Column2 - Contacto-->
                    <div class="footer-pad">
                        <h4>Contacto</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a><i class="fas fa-phone"></i> (+34) 910-045-401 </a>
                            </li>
                            <li>
                                <a><i class="fab fa-whatsapp"></i> (+34) 645-070-436 </a>
                            </li>
                            <li>
                                <a><i class="fas fa-envelope"></i> peluqueria.newstyle.madrid@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="text-white">Redes sociales:</p>
                    <ul class="social-network social-circle">
                        <li>
                            <a href="https://www.facebook.com/peluquerianewstylemadrid" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://myaccount.google.com/u/1/google-account-email?continue=https://myaccount.google.com/u/1/profile&rapt=AEjHL4ONQSDMAoIJe_vPuSJ0KzrVm1Zs2gTrZbTtiuZXLVeNzfM8oZShJuFvdn_0DAaBo8GYGt3tuNAY1J8xXwQZf5Sr6PLR8A" class="icoGoogle" title="Google">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center text-white">&copy; Copyright 2021 - Peluqueria New Style Madrid. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>