<app-menu></app-menu>
<div class="galeria text-center">
    <div>
        <ngb-carousel>
            <ng-template *ngFor="let home of homes" ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="{{home.imagenUrl}}" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h3>{{home.name}}</h3>
                    <!--<p>{{imgsHome.desc}}</p>-->
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="container-fluid bg-3 text-center mt-4">
            <h3>Tipos de cortes</h3><br>
            <div class="row">
                <table class="table  table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-uppercase">Servicios</th>
                            <th scope="col" class="text-uppercase">Mujeres </th>
                            <th scope="col" class="text-uppercase">Hombres</th>
                            <th scope="col" class="text-uppercase">Niños </th>
                            <th scope="col" class="text-uppercase">Adultos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servicio of servicios">
                            <th class="text-uppercase">{{servicio.tipoServicio}}</th>
                            <td>{{servicio.precioMujer}} </td>
                            <td>{{servicio.precioHombre}} €</td>
                            <td>{{servicio.precioNinio}} </td>
                            <td>{{servicio.precioAdulto}} €</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid bg-3 text-center ">
            <div class="row">
                <div class="col-sm-4 mt-3 text-center">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="titleUbicacion">Nuestra ubicación <i class="fas fa-map-marker-alt"></i></h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush mt-4">
                                <h5><i class="fas fa-city"></i> Madrid</h5>
                                <p><i class="fas fa-road"></i> Calle Alcalá Nº 6</p>
                                <div class="fakeimg">C.P 28850</div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false">
                        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                            <agm-info-window>
                                <strong>InfoWindow content</strong>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </div><br><br>
        </div>
    </div>
    <!--Boton de scroll-->
    <app-scroll-to-top></app-scroll-to-top>