<app-menu></app-menu>
<div class="galeria text-center">
    <p>
        <!--https://www.youtube.com/watch?v=0De2V7haH7E&t=191s-->
        <ngb-carousel>
            <!--<ng-template *ngFor="let imgHome of imagenes" ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="{{imgHome.img}}" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h1 id="tituloImg">{{imgHome.name}}</h1>
                    <p id="descripcion" class="text-white">{{imgHome.desc}}</p>
                </div>
            </ng-template>-->
            <ng-template *ngFor="let imgHome of imagenes" ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="{{imgHome.imagenUrl}}" alt="Random first slide">
              </div>
              <!--<div class="carousel-caption">  //Si les ponemos título y descripción a las imágenes saldría encima del carrusel
                  <h3>{{imgHome.name}}</h3>
                  <p>{{imgHome.desc}}</p>
              </div>-->
          </ng-template>
        </ngb-carousel>
    </p>
</div>
<div class="container-fluid bg-3 text-center">
    <h3>Tipos de cortes</h3><br>
    <div class="row">
        <table class="table  table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-uppercase">Servicios</th>
                    <th scope="col" class="text-uppercase">Mujeres</th>
                    <th scope="col" class="text-uppercase">Hombres</th>
                    <th scope="col" class="text-uppercase">Niños</th>
                    <th scope="col" class="text-uppercase">Adultos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid bg-3 text-center ">
    <h3>Nuestra ubicación</h3><br>
    <div class="row ">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false">
            <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window>
                    <strong>InfoWindow content</strong>
                </agm-info-window>
            </agm-marker>
            <!--
            <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
            </agm-circle>
            -->
        </agm-map>
    </div>
</div><br><br>
<app-scroll-to-top></app-scroll-to-top>
