<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&#88;</span>
    </button>
</div>
<div class="modal-body modal-lg">
    <swiper [config]="config" [(index)]="index">
        <div *ngFor="let corte of cortes" class="swiper-slide">
            <div class="thumbnail text-center">
                <img class="img-thumbnail img-rounded" src="{{corte.imagenUrl}}" alt="">
            </div>
        </div>
    </swiper>
</div>