<app-menu></app-menu>
<div class="container">
    <div class="card text-center">
        <div class="card-header ">
            <i class="fas fa-id-card"></i>
            <br> MI PERFIL <a class="text-success text-uppercase" style="text-decoration: none;">{{userName}}</a>
        </div>
        <div class="card-body d-flex justify-content-center text-center mt-4">
            <form (ngSubmit)="onUpdatePerfil()" style="max-width: 580px;" name="form" #f="ngForm" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Nombre </mat-label>
                            <input matInput id="nombre" name="nombre" [(ngModel)]="form.nombre" readonly>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Apellidos </mat-label>
                            <input matInput id="apellidos" name="apellidos" [(ngModel)]="form.apellidos">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Usuario <i class="fas fa-user-edit"></i></mat-label>
                            <input matInput id="userName" name="userName" [(ngModel)]="form.userName">
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Contraseña <i class="fas fa-key"></i></mat-label>
                            <input matInput type="key" id="password" name="pasword" [(ngModel)]="form.password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Correo electrónico <i class="fas fa-envelope-open"></i></mat-label>
                            <input matInput id="email" name="email" [(ngModel)]="form.email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-outline-success mt-2">Actualizar perfil</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer"><i class="fas fa-exclamation-triangle"></i> Se enviará correo con la modificación de los datos! <i class="fas fa-exclamation-triangle"></i></div>
    </div>
</div>