/*
.container {
    height: 100%;
    align-content: center;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #343a40;
    color: white;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: black;
}

.remember input {
    width: 17px;
    height: 17px;
    margin-left: 15px;
    margin-right: 5px;
}

.modal-header {
    font-family: helvetica;
    border: none;
    background-color: #343a40;
    color: white;
    height: 70px;
}

.alert-danger {
    background-color: white;
    color: red;
}



.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}


.formRegister-full-width {
    width: 100%;
}
*/

.container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.container .mat-form-field {
    width: 220px;
}

.container form {
    margin-bottom: 20px;
}

.container form>* {
    margin: 5px 0;
}

.container .mat-radio-button {
    margin: 0 12px;
}

input[type=key] {
    font-family: 'password';
    width: 100px;
    height: 16px;
}

.card-header {
    font-family: helvetica;
    border: none;
    background: -webkit-linear-gradient(59deg, rgb(49, 49, 49), black);
    color: white;
    height: 50px;
}

.card {
    width: 650px;
    height: 370px;
}