<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p style="color: white"> Registrando usuario... </p>
</ngx-spinner>
<div *ngIf="isRegister; else noRegister"></div>
<ng-template #noRegister>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeRegistro()">
                    <span aria-hidden="true">&#88;</span>
                </button>
            </div>
        </div>
        <h3 class="card-header text-center mt-3">REGISTRARSE</h3>
        <form [formGroup]="myForm" style="max-width: 580px;" class="mt-4 text-center" (ngSubmit)="onRegister()" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput [formControl]="nombre" placeholder="Nombre" required>
                        <mat-error *ngIf="nombre.hasError('required')">
                            <b>¡Campo nombre es obligatorio!</b>
                        </mat-error>
                        <mat-error *ngIf="nombre.hasError('minlength')">
                            <b>La contraseña debe tener al menos 3 caracteres!</b>
                        </mat-error>
                        <mat-error *ngIf="nombre.hasError('maxlength')">
                            <b>La contraseña debe tener al menos 10 caracteres!</b>
                        </mat-error>
                        <mat-error *ngIf="nombre.hasError('pattern')">
                            <b>¡No se permiten números!</b>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Apellidos</mat-label>
                        <input matInput [formControl]="apellidos" placeholder="apellidos" required>
                        <mat-error *ngIf="apellidos.hasError('required')">
                            <b>Campo apellidos es obligatorio!</b>
                        </mat-error>
                        <mat-error *ngIf="nombre.hasError('minlength')">
                            <b>La contraseña debe tener al menos 3 caracteres!</b>
                        </mat-error>
                        <mat-error *ngIf="nombre.hasError('maxlength')">
                            <b>La contraseña debe tener al menos 20 caracteres!</b>
                        </mat-error>
                        <mat-error *ngIf="apellidos.hasError('pattern')">
                            <b>No se permiten números!</b>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Usuario <i class="fas fa-user"></i></mat-label>
                        <input matInput [formControl]="userName" placeholder="Usuario" required>
                        <mat-error *ngIf="userName.hasError('required')">
                            <b>Campo usuario es obligatorio!</b>
                        </mat-error>
                        <mat-error *ngIf="userName.hasError('pattern')">
                            <b>No se permiten números!</b>
                        </mat-error>
                        <mat-error *ngIf="userName.hasError('minlength')">
                            <b>El nombre debe tener al menos 5 caracteres!</b>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Contraseña <i class="fas fa-key"></i></mat-label>
                        <input matInput type="key" [formControl]="password" placeholder="Contraseña" required>
                        <mat-error *ngIf="password.hasError('required')">
                            <b>Campo password obligatorio!</b>
                        </mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">
                            <b>La contraseña debe tener al menos 8 caracteres!</b>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Correo electrónico <i class="fas fa-envelope-open"></i></mat-label>
                        <input matInput [formControl]="email" placeholder="Correo electrónico" required>
                        <mat-error *ngIf="email.hasError('required')">
                            <b>Campo email obligatorio!</b>
                        </mat-error>
                        <mat-error *ngIf="email.hasError('pattern')">
                            <b>Email no válido!</b>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark mb-3">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>