.row {
    padding-top: 1em;
    padding-left: 01em;
}

.card {
    width: 460px;
    height: 550px;
}

.card-body {
    margin-top: -20px;
}


/* Paginación Diseño*/

.my-pagination /deep/ .ngx-pagination {
    padding-top: 3em;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #292b2c;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #292b2c;
}

.paginacion {
    margin-top: 0em;
    margin-left: 550px;
    margin-bottom: 3em;
}

.card-footer {
    background: -webkit-linear-gradient(59deg, rgb(49, 49, 49), black);
    color: white;
}

#acciones {
    text-decoration: none;
}

.fas {
    color: black;
}