/* Paginación Diseño*/

.my-pagination /deep/ .ngx-pagination {
    padding-top: 3em;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #292b2c;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #292b2c;
}

.card-footer {
    background: -webkit-linear-gradient(59deg, rgb(49, 49, 49), black);
    color: white;
}

#acciones {
    text-decoration: none;
}

.fas {
    color: black;
}