<app-menu></app-menu>
<!--Tutorial galeria imagenes https://youtube.com/playlist?list=PL4bT56Uw3S4xTuqOmdDc_GQbCvPh3aaZg-->
<ngx-spinner *ngIf="isAdmin" bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p style="color: white"> Eliminado imagen... </p>
</ngx-spinner>
<nav class="navbar  navbar-light bg-light">
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label><i class="fas fa-search"></i> Buscar corte..</mat-label>
                <input matInput [(ngModel)]="searchText" placeholder="Nombre del corte" value="Sushi">
            </mat-form-field>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-4" *ngFor="let imagen of imagenes| filter: searchText | paginate: { itemsPerPage: 8, currentPage: paginaActual }; index as i">
            <div class="card mb-3 animated zoomIn">
                <h3 class="card-header">{{imagen.name}}
                    <a class="float-right text-black ml-3" id="acciones" *ngIf="isAdmin" (click)="abrirModal(i)"><i class="fas fa-search-plus"></i></a>
                    <a class="float-right text-danger" id="acciones" *ngIf="isAdmin" (click)="borrar(imagen.id)"><i class="far fa-trash-alt"></i></a>
                </h3>
                <div class="card-body">
                    <!--<h4 class="card-title"><b>ID: </b>{{imagen.imagenId}}</h4>-->
                </div>
                <div class="card-body text-center">
                    <img style="height: 425px; width: 100%; display: block;" src="{{imagen.imagenUrl}}" alt="Card image">
                </div>
                <div class="card-footer text-center">
                    &copy; Peluquería New Style Madrid
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center justify-content-md-start">
        <div class="col">
            <div class="paginacion p-2 text-center">
                <pagination-controls class="my-pagination" (pageChange)="paginaActual = $event" previousLabel="Atrás" nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<app-scroll-to-top></app-scroll-to-top>