<app-menu></app-menu>
<table class="table table-hover table-light">
    <thead class=" table table-success">
        <tr>
            <th class="text-uppercase" scope="col">ID <i class="fas fa-sort"></i></th>
            <th class="text-uppercase" scope="col">ID Cloudinary <i class="fas fa-sort"></i></th>
            <th class="text-uppercase" scope="col">Nombre del corte <i class="fas fa-sort"></i></th>
            <th class="text-uppercase" scope="col">Imagen URL<i class="fas fa-sort"></i></th>
            <!--<th scope="col"><i class="fas fa-sort" (click)="sort()"></i></th> Mayo a menor-->
            <th class="text-uppercase" *ngIf="isAdmin" scope="col">Ver</th>
            <th class="text-uppercase" scope="col" *ngIf="isAdmin">Editar</th>
            <th class="text-uppercase" scope="col" *ngIf="isAdmin">Borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let corte of cortes |  paginate: { itemsPerPage: 10, currentPage: paginaActual }; index as i ">
            <td>{{corte.id}}</td>
            <td>{{corte.imagenId}}</td>
            <td>{{corte.name}}</td>
            <td>{{corte.imagenUrl}}</td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-primary" (click)="abrirModal(i)"><i class="far fa-eye"></i> </button></td>
            <td><button class="btn btn-outline-warning" *ngIf="isAdmin" routerLink="/editar-corte/{{corte.id}}"><i class="far fa-edit"></i> </button></td>
            <td><button class="btn btn-outline-danger" *ngIf="isAdmin" (click)="borrar(corte.id)"><i class="far fa-trash-alt"></i> </button></td>
        </tr>
    </tbody>
</table>
<div class="justify-content-center justify-content-md-start">
    <div class="col">
        <div class="paginacion p-2 text-center">
            <pagination-controls class="my-pagination" (pageChange)="paginaActual = $event" previousLabel="Atrás" nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>
</div>
<app-scroll-to-top></app-scroll-to-top>