<app-menu></app-menu>
<table class="table table-hover">
    <thead class=" table table-light">
        <tr>
            <th>
                <label class="ml-2 mt-2" style="font-size: 15px;">Filtro de busqueda</label>
            </th>
            <th>
                <mat-form-field class="float-right mr-5">
                    <mat-label><i class="fas fa-search"></i> Buscar usuario</mat-label>
                    <input matInput [(ngModel)]="searchText" placeholder="Nombre del usuario" value="Sushi">
                </mat-form-field>
            </th>
        </tr>
    </thead>
</table>
<table class="table table-hover table-light" matSort (matSortChange)="sortData($event)">
    <thead class=" table table-success">
        <tr>
            <th class="text-uppercase" mat-sort-header="id">Id </th>
            <th class="text-uppercase" mat-sort-header="nombre">Nombre </th>
            <th class="text-uppercase" mat-sort-header="apellidos">Apellidos </th>
            <th class="text-uppercase" mat-sort-header="email">Correo </th>
            <th class="text-uppercase" mat-sort-header="userName">Usuario </th>
            <th class="text-uppercase" mat-sort-header="password">Contraseña </th>
            <!--<th *ngIf="isAdmin" scope="col">Ver</th>-->
            <th class="text-uppercase" scope="col" *ngIf="isAdmin">Editar</th>
            <th class="text-uppercase" scope="col" *ngIf="isAdmin">Borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios |  filter: searchText  | paginate: { itemsPerPage: 10, currentPage: paginaActual }">
            <th>{{usuario.id}}</th>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.userName}}</td>
            <td>{{usuario.password}}</td>
            <!--<td *ngIf="isAdmin"><button class="btn btn-outline-primary" routerLink="/detalle-usuario/{{usuario.id}}"><i class="far fa-eye"></i></button></td>-->
            <td><button class="btn btn-outline-warning" *ngIf="isAdmin" routerLink="/editar-usuario/{{usuario.id}}"><i class="far fa-edit"></i></button></td>
            <td><button class="btn btn-outline-danger" *ngIf="isAdmin" (click)="borrar(usuario.id)"><i class="far fa-trash-alt"></i></button></td>
        </tr>
    </tbody>
</table>
<div class="justify-content-center justify-content-md-start">
    <div class="col">
        <div class="paginacion p-2 text-center">
            <pagination-controls class="my-pagination" (pageChange)="paginaActual = $event" previousLabel="Atrás" nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>
</div>