.navbar {
    background-color: black;
}

.navbar a {
    color: white;
}

.dropdown-menu a {
    color: black
}


/* Estilo Navbar */

.formato {
    display: flex;
    list-style: none;
    width: 45vw;
    padding: 0 0.9vw;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.formato li a {
    text-decoration: none;
    margin: 0 1.0vw;
    font-size: 15px;
}

.formato li a:hover {
    list-style: none;
    font-weight: bold;
}

.formato li {
    position: relative;
}

.formato li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: white;
    position: absolute;
    -webkit-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.formato li a:hover::before {
    width: 80%;
}


/* Fin de estilo Navbar */

.mat-label {
    color: white;
}


/*Logo*/

text {
    fill: #35322a;
    filter: url('#money');
    font-size: 39px;
    font-weight: 10;
}