<div class="modal-header">
    <h2 class="modal-title col-11 text-center">Nuevo registro</h2>
</div>
<div class="modal-body justify-content-center">
    <form [formGroup]="myForm" (ngSubmit)="registerUser()" novalidate>
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="formRegister-full-width">
                    <mat-label>
                        Nombre
                    </mat-label>
                    <input type="text" matInput [formControl]="name" placeholder="Nombre" required>
                    <mat-error *ngIf="name.hasError('required')">
                        Campo <strong>nombre</strong> es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="formRegister-full-width">
                    <mat-label>
                        Apellidos
                    </mat-label>
                    <input type="text" matInput [formControl]="firstname" placeholder="Apellidos" required>
                    <mat-error *ngIf="firstname.hasError('required')">
                        Campo <strong>apellidos</strong> es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="formRegister-full-width">
                    <mat-label>
                        Email
                        <mat-icon MatPrefix>email</mat-icon>
                    </mat-label>
                    <input type="text" matInput [formControl]="email" placeholder="Ex. pat@example.com" required>
                    <!--
                    <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                        Introduce un email válido
                    </mat-error>
                    -->
                    <mat-error *ngIf="email.hasError('required')">
                        Campo <strong>email</strong> es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <div class="input-group mb-2">
                    <mat-form-field class="formRegister-full-width">
                        <mat-label>
                            Contraseña
                            <mat-icon MatPrefix>https</mat-icon>
                        </mat-label>
                        <input type="password" matInput [formControl]="password" placeholder="Contraseña" required>
                        <mat-error *ngIf="password.hasError('required')">
                            Campo <strong>contraseña</strong> es obligatorio
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-outline-danger form-control"><i class="fab fa-google"></i> Google</button>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-outline-primary form-control"><i class="fab fa-facebook"></i>
          Facebook</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-dark float-left" (click)="closeRegister()">Cancelar</button>
            </div>
            <div class="form-group col-md-6">
                <button class="btn btn-dark float-right">Registrarse</button>
            </div>
        </div>
    </form>
</div>