<div class="modal-header">
    <h2 class="modal-title col-11 text-center">Nuevo registro</h2>
</div>
<div class="modal-body justify-content-center">
    <form (ngSubmit)="registerUser()" #f="ngForm" novalidate>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Nombre" required>
            </div>
            <div class="form-group col-md-7">
                <label for="firstname">Apellidos</label>
                <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="firstname" placeholder="Apellidos" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="username">Usuario</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user-alt"></i></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" name="username" [(ngModel)]="username" placeholder="Usuario" required>
                </div>
            </div>
            <div class="form-group col-md-7">
                <label for="pwd">Contraseña</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="pwd" placeholder="Contraseña" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="far fa-envelope"></i></div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" name="email" [(ngModel)]="email" placeholder="Correo electrónico" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-outline-danger form-control"><i class="fab fa-google"></i> Google</button>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-outline-primary form-control"><i class="fab fa-facebook"></i>
          Facebook</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-dark float-left" (click)="closeRegister()">Cancelar</button>
            </div>
            <div class="form-group col-md-6">
                <button class="btn btn-dark float-right" [disabled]="!f.valid">Registrarse</button>
            </div>
        </div>
    </form>
</div>